@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500&display=swap');

body {
  background-color: #0f1833;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

#squares {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first_row {
  display: flex;
  margin-bottom: 20px;
}

#green_square {
  height: 120px;
  width: 120px;
  background-color: green;
  border: 7px solid #000;
  border-radius: 20px;
}

#red_square {
  height: 120px;
  width: 120px;
  background-color: red;
  border: 7px solid #000;
  border-radius: 20px;
}

.space {
  padding: 20px;
}

#second_row {
  display: flex;
}

#yellow_square {
  height: 120px;
  width: 120px;
  background-color: yellow;
  border: 7px solid #000;
  border-radius: 20px;
}

#blue_square {
  height: 120px;
  width: 120px;
  background-color: blue;
  border: 7px solid #000;
  border-radius: 20px;
}